<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
        <% pessoas.forEach((pessoa) => {%>
        <form>

            <%= pessoa.nome %>
            <%= pessoa.sobrenome %>
            <%= pessoa.idade %>
            <%= pessoa.altura %>

            <button><a href="/pessoas/deletar?id=<%=pessoa.id%>">Deletar</a></button>
 
            

        </form>
    <% }) %>

    <br>

    <button><a href="/pessoas/criar">Voltar</a></button>

</body>
</html>
